<ion-view title="Leftovers">
  <ion-content>
    <div class="jumbotron">
      <img class="logo-small" src="img/logo.png" alt="logo leftovers"/>
      <h1 class="white shadow">Minimiser les pertes, maximiser le goût !</h1>
    </div>
    <hr/>
    <p class="bold white text-center bleu">Ils nous font confiance</p>  
    <div ng-repeat="deal in dealers" class="card" ng-mouseenter="openHover(this)" ng-mouseleave="closeHover(this)">
      <div class="item item-text-wrap deal-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{deal.picture}});background-size: cover;">
        <span class="deal-img" ui-sref="dealer({ id: deal.id})">
          <h2 class="bold shadow white">{{deal.name}}</h2>
          <h3 class="bold shadow white">{{deal.description}}</h3>
          <h4 class="bold shadow white">{{deal.email}}</h4>
          <h4 class="bold shadow white">{{deal.phone}}</h4>
        </span>
      </div>
    </div>
    <p class="bold white text-center bleu">L'équipe</p>
    <div class="item item-text-wrap faceblock">
        <span class="deal-img">
          <img class="faces" src="../../img/faces/celyaNB.png">
        </span>
        <span class="deal-img">
          <img class="faces" src="../../img/faces/jeremyNB.jpg">
        </span>
        <span class="deal-img">
          <img class="faces" src="../../img/faces/julienNB.png">
        </span>
        <span class="deal-img">
          <img class="faces" src="../../img/faces/romainNB.png">
        </span>
        <span class="deal-img">
          <img class="faces" src="../../img/faces/walrandNB.png">
        </span>
      </div>
  </ion-content>
</ion-view>
