<ion-view title="Leftovers">
  <ion-content class="list-card">
    <div class="item item-image about">
      <img src="img/logo.png" alt="logo leftovers"/>
    </div>
    <div class="item item-body about">
      <p>Minimiser les pertes, maximiser le goût !</p>
    </div>
    
    <div class="card">
      <div class="item item-divider about">
          <p>Ils nous font confiance.</p>
      </div>
      <div ng-repeat="dealer in dealers" class="item item-text-wrap">
        <div class="item item-image">
          <img ng-src={{dealer.picture}}>
        </div>
        <a class="item brand" ui-sref="dealer({ id: dealer.id})">{{dealer.name}}</a>
      </div>
      <div class="item item-divider">
        <p>Leftovers™</p>
      </div>
    </div>
  </ion-content>
</ion-view>
