<ion-view title="Leftovers">
  <ion-content>
    <div class="jumbotron">
      <h1 class="white shadow">{{dealer.name}}</h1>
      <img class="logo-small" ng-src="{{dealer.picture}}" />
      <h3 class="white shadow">{{dealer.description}}</h3>
      <h3 class="white shadow">{{avgRating}}/5</h3>
    </div>
    <div class="offers-body center">
    <p class="divider bold white text-center bleu">Tous les bons plans</p>  
    <div ng-repeat="deal in deals" class="card" ng-mouseenter="openHover(this)" ng-mouseleave="closeHover(this)">
        <div class="item item-text-wrap deal-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/dealers/1.jpg);background-size: cover;">
          <span class="deal-img">
            <h2 class="bold shadow white">{{deal.title}}</h2>
            <h3 class="bold shadow white">{{deal.description}}</h3>
          </span>
        </div>
        <div>
          <div>
        <span class="row">
          <span class="badge-price white">{{ deal.full_price * (1 - deal.promotion) | number:2}}€</span>
          <span class="promotion-text">-{{ deal.promotion * 100 | number:0}}%</span>
        <span class="right">
          <div>de : {{deal.start_date | date : "hh:mm"}}</div>
          <div>à : {{deal.end_date | date : "hh:mm"}}</div>
        </span>
        </span>
          </div>
        </div>
      </div>
      <p class="divider bold white text-center bleu">Commentaires</p>
      <div ng-repeat="rating in ratings" class="card" ng-mouseenter="openHover(this)" ng-mouseleave="closeHover(this)">
        <div class="item item-text-wrap deal-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../img/dealers/1.jpg);background-size: cover;">
          <span class="deal-img">
            <h2 class="bold shadow white">{{rating.comment}}</h2>
            <h3 class="bold shadow white">{{rating.user.firstname}} {{rating.user.lastname}}</h3>
          </span>
        </div>
        <div>
        <span class="row">
          <span class="badge-price white">{{rating.note}}/5</span>
        <span class="right">
          <div>on {{rating.created_at | date : "longDate"}}</div>
        </span>
        </span>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
