<ion-view title="Promotions à côté de chez vous">
  <ion-content>
  	<div class="jumbotron">
      <h1 class="white shadow">LeftOvers</h1>
      <img class="logo-small" src="img/logo-bg.png" />
      <h3 class="white shadow">Minimisez les restes, maximisez le gout !</h3>
    </div>
    <div id="search">
    	<input id="searchBar" placeholder="Recherche une offre..." ng-model="searchText">
    </div>
    <div class="offers-body center">
	    <div ng-repeat="deal in deals | filter:searchText | orderBy: 'outdated'" class="card" ng-mouseenter="openHover(this)" ng-mouseleave="closeHover(this)">
	      <div class="item item-text-wrap deal-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{deal.dealer.picture}});background-size: cover;">
	      	<span class="deal-img" ui-sref="dealer({ id: deal.dealer_id})">
		      	<h2 class="bold shadow white">{{deal.title}}</h2>
		      	<h3 class="shadow white">{{deal.description}}</h3>
	      	</span>
	      </div>
	      <div>
		  	<div class="row">
		  		<span class="badge-price white">{{ deal.full_price * (1 - (deal.promotion/100)) | number:2}}€</span>
		  		<span class="promotion-text">-{{ deal.promotion | number:0}}%</span>
		  		<span class="bold-pourromaincegroscon ml-20 text-rose">x{{deal.quantity}}</span>
		  	<span class="right" ng-if="deal.outdated == false">
		  		<div>de : {{deal.start_date | date : "hh:mm"}}</div>
		  		<div>à : {{deal.end_date | date : "hh:mm"}}</div>
		  	</span>
		  	<span class="right" ng-if="deal.outdated == true">
		  		<h5 class="bold text-bleu">Offre terminée..</h5>
		  	</span>
		  	</div>
		  	<div class="deal-name">
		  		<span class="bold text-rose">{{deal.dealer.name}}</span>
		  	</div>
	    </div>
    </div>
  </ion-content>
</ion-view>
