<ion-view title="Mes promotions">
  <ion-content>
  <div class="jumbotron">
      <h1 class="white shadow">{{dealer.name}}</h1>
      <img class="logo-small" src="{{dealer.picture}}" />
      <h3 class="white shadow">{{dealer.description}}</h3>
    </div>
        <button class="bleu button button-block center btn button-positive activated" ui-sref="newdeal">Créer une promotion</button>
    <div class="offers-body center">
	    <div ng-repeat="deal in deals | filter:searchText" class="card" ng-mouseenter="openHover(this)" ng-mouseleave="closeHover(this)">
	    	<div ng-if="deal.end_date < today">WAZAAAAAA</div>
	      <div class="item item-text-wrap deal-block" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{dealer.picture}});background-size: cover;">
	      	<span class="deal-img">
		      	<h2 class="bold shadow white">{{deal.title}}</h2>
		      	<h3 class="shadow white">{{deal.description}}</h3>
	      	</span>
	      </div>
	      <div>
		  	<div class="row">
		  		<span class="badge-price white">{{ deal.full_price * (1 - deal.promotion) | number:2}}€</span>
		  		<span class="promotion-text">-{{ deal.promotion * 100 | number:0}}%</span>
		  		<span class="bold-pourromaincegroscon ml-20 text-rose">x{{deal.quantity}}</span>
		  	<span class="right">
		  		<div>de : {{deal.start_date | date : "hh:mm"}}</div>
		  		<div>à : {{deal.end_date | date : "hh:mm"}}</div>
		  	</span>
		  	</div>
		  	<div class="deal-name">
		  		<span class="bold text-rose">{{dealer.name}}</span>
		  	</div>
	    </div>
    </div>
  </ion-content>
</ion-view>
