.dealer-picture {
  width: 100px;
}

.jumbotron{
  background-image: url("../img/bg1.png");
  padding: 25px;
  color: #fff;
  text-align: center;
}

.logo-small{
  width: 150px;
  margin: 10px;
}

.white{
  color: #fff;
}

.toggle{
  top: 10px;
  left: 20px;
  z-index: 1000;
  color: #eee;
}

.toggle :hover{
  color: #fff;
}

.about{
  background-color: #00ccbc;
  margin: auto;
}

.about img{
  height:auto;
  max-width: 30%;
}

.about p{
  opacity: 0.75;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

#search{
  height: 60px;
  padding-top: 10px;
  width: 100%;
  background-color: #333;
}

#searchBar{
  width: 60%;
  height: 40px;
  margin-left: 20%;
  padding-left: 20px;
}

.badge-price{
  margin-top: -30px;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  border-radius: 25px;
  text-align: center;
  background-color: #00ccbc;
  font-weight: bold;
  z-index: 100;
}

.promotion-text{
  color: #00ccbc;
  font-weight: bold;
}

.bold{
  font-weight: bold;
  text-transform: uppercase;
}

.bold-pourromaincegroscon{
  font-weight: bold;
}

.shadow{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.deal-img h2{
  font-size: 24px;
}

.deal-block{
  height: 150px;
    margin-right: auto;
  margin-left: auto;
}

.right{
  text-align: right;
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.row{
  position: relative;
  height: 50px;
}

.deal-img{
  width: auto;
  padding: 20px;
  text-align: center;
  height: auto;
  transition: all 0.8s;
  border-radius: 4px;
}

.deal-img-open{
  height: 120px;
  padding: 40px;
}

.card{
  border-radius: 4px;
  display: inline-block;
  min-width: 280px;
  width: 31%;
}

.deal-name{
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.offers-body{
  width: 95%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.center{
  margin-right: auto;
  margin-left: auto;
}

.text-center{
  text-align: center;
}

.brand{
  text-align: center;
}

.btn{
  max-width: 500px;
}

.ml-20{
  margin-left: 20px;
}

.bleu{
  border-color: #008C81 !important;
  background-color: #00ccbc !important;
}

.text-rose{
  color: #F06292;
}

.rose{
  border-color: #BA4C71 !important;
  background-color: #F06292 !important;
}

@media screen and (max-width: 640px) {
  .card{
    width: 100%;
    margin: 20px 0;
  }
  #searchBar{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    padding-left: 20px;
  }
}