.dealer-picture {
  width: 100px;
}

.jumbotron{
  background-image: url("../img/bg1.png");
  padding: 50px;
  color: #fff;
  text-align: center;
}

.logo-small{
  width: 200px;
}

.white{
  color: #fff;
}

.toggle{
  top: 10px;
  left: 20px;
  z-index: 1000;
  color: #eee;
}

.toggle :hover{
  color: #fff;
}